/* --------------------------
  Main Styles
--------------------------- */
header {
  width: 80%;
  margin: 0 auto; }

img {
  width: 100%; }

.site-logo {
  display: none; }

.main-header,
.nav {
  display: flex;
  flex-direction: column; }

.site-logo {
  width: 110px;
  align-self: center; }

.nav a {
  display: block;
  color: #797e83;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  white-space: nowrap; }

.nav a:hover {
  color: #0b0b0b; }

/* --------------------------
  Media Queries
--------------------------- */
@media (min-width: 769px) {
  .main-header {
    justify-content: flex-end; }
  .nav {
    flex-direction: row;
    justify-content: space-between; }
  .nav a {
    border-bottom-color: transparent;
    font-size: 1.5em; } }

@media (min-width: 1025px) {
  .main-header {
    flex-direction: row; }
  .site-logo {
    display: block;
    margin-right: auto;
    width: 150px; }
  .nav {
    margin-top: 0;
    align-self: center; }
  .nav li {
    margin-left: .65em;
    margin-right: .65em; }
  header {
    width: 1025px; } }
