<div class = 'introduction'>
<a href='/' class="site-logo">
    <img src="../assets/logo2.svg">
  </a>
</div>

<h1 class='faq-heading'>FAQ Section: What is a bingo?</h1>

<p class ='p1'>
  <span class='s1'>
  What is a bingo?<br>
  </span>
  Good question! Being "bingoed" refers to the common phrases one may hear from people when they tell others they do not want kids. Imagine it like a Bingo Board, covered in phrases such as "You'll change your mind one day", "you're so selfish for not wanting kids", or "It's different when it's your own!"
  </p>

<p class ='p1'>
  <span class='s1'>
  <b>What does it mean to be "childfree"?<br></b>
  </span>
  While some people choose to elaborate on their definitions, on the most basic level, a childfree person is someone who does not wish to parent a child, blood-related or adopted, at any point in their life. There may be many reasons, ranging from financial, environmental, or just simply a simple "I don't want children". 
  </p>
