
<div class="landing-background">
  <div class="btn signin">Sign in</div>
  <div class="clear"></div>
  <h1 class="logo"><span class="bingo">Bingo</span><br> <span class="smasher">Smasher</span></h1>
  <h2 class="tagline">Dating service for the childfree</h2>
  <div class="signup btn" ng-click='toggleModal()'>Get Started</div>
</div>

<div class="information">
  <div class="box couple">
    <p>No more questions on why you don't want children</p>
  </div>
  <div class="box learn">
    <p>Learn more about what child-free is all about</p>
  </div>
  <div class="box conversation">
    <p>Find someone with the same values as you</p>
  </div>
</div>

<modal-dialog show='modalShown' width='400px'>

  <h1 class="logo"><span class="bingo">Bingo</span><br> <span class="smasher">Smasher</span></h1>

  <form>

    <label for="lname">Username</label>
    <input type="text" id="username" name="lastname" ng-model='user.username'>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" ng-model='user.password'>

    <label for="password2">Confirm Password</label>
    <input type="password" id="password2" name="password2" ng-model='user.password2'>

    <label for="email">Email</label>
    <input type="email" id="email" name="email">
  
    <input type="submit" value="Sign Up" ng-click="signup()">
  </form>
</modal-dialog>
