<div class="profile-container">

  <div class="avatar">
    <img src="/assets/avatar.jpg">
    <p class="name">wayne</p>
  </div>

  <div class="summary">

    <h1>About me</h1>
    <p>Write a short summary of yourself here</p>

    <h2>Basic Info</h2>
    <table>
      <tr>
        <td>Gender:</td>
        <td>Male</td>
      </tr>
      <tr>
        <td>Age:</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>Cupertino</td>
      </tr>
      <tr>
        <td>Seeking:</td>
        <td>Relationship, friends</td>
      </tr>
    </table>
    
  </div>

  <div class="wall">
    <div class="post">
      <input type="text" placeholder="Write on your wall... "> <button>Post</button>
    </div>
    <div class="wall-content">
     <div class="wall-post">
       <h1>Wayne:</h3>
       <p>Hi I am writing on my own wall</p>
     </div>
     <div class="wall-post">
       <h1>Wayne:</h3>
       <p>Hi I am writing on my own wall</p>
     </div>
     <div class="wall-post">
       <h1>Wayne:</h3>
       <p>Hi I am writing on my own wall</p>
     </div>
     <div class="wall-post">
       <h1>Wayne:</h3>
       <p>Hi I am writing on my own wall</p>
     </div>
     <div class="wall-post">
       <h1>Wayne:</h3>
       <p>Hi I am writing on my own wall</p>
     </div>
     <div class="wall-post">
       <h1>Wayne:</h3>
       <p>Hi I am writing on my own wall</p>
     </div>
    </div>
  </div>


</div>