.faq-heading {
    font-family: 'Lato', sans-serif;
    text-align:center;
    margin-bottom:50px;
}

.p1 {
  font-family: 'Roboto', sans-serif;
  margin-left:200px;
  margin-right:200px;
}

.s1 {
  font-weight: lighter;
  font-size:20px;
}