$primary-color: #ffff60;

.public-nav{
  padding: 20px 0 0;    
  text-align: center;

  a{
    display: inline-block;
    width: 200px;
  }

}

.faq-heading {
  background-color: $primary-color;
  font-family: 'Lato', sans-serif;
  text-align:center;
  padding: 75px;
  margin-bottom:50px;
  font-size: 3.5em;
}

.faq-content{

  width: 60%;
  margin: 0 auto;

  img{
    width: 50%;
  }

  h1{
    font-size: 2.5em;
    
  }

  p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin-bottom: 50px;
  }
}