$primary-color: #ffff60;
$primary-button-color: #00ace6;
$primary-button-hover-color: #80bfff;

.clear {
  clear: both;
}


@font-face {
    font-family: 'Omnes'; /*a name to be used later*/
    src: url('../fonts/omnes-webfont.ttf'); /*URL to font*/
}

body{
  font-family: 'Omnes';
}

*{
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none; 
  padding: 0;
  margin:0;
}

a {
  text-decoration: none;
}


.introduction{
  background-color: $primary-color;
  padding: 30px 25px;    

  h2{
    text-align: center;
    padding-bottom: 25px;
    font-size: 30px;
  }
}

.logo{
  width: 250px;
  margin: auto;

  img{
    width:100%;
  }

}

.btn{
  background-color: $primary-button-color;
  font-weight: 900;
  border: 2px solid white;
  color: white;
  border-radius: 5%;
  cursor: pointer;
  padding: 15px;
  text-align: center;
}

.btn:hover{
  background-color: $primary-button-hover-color;
}

.signin{
  @extend .btn;
  float:right;
}

.signup{
  @extend .btn;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}

.information{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.box{
  position:relative;
  display:inline-block;
  width: 25%;
  min-width: 210px;
  padding-top:150px;
  margin: 2.5%;
  text-align: center;
  border-radius: 1%;
  overflow: hidden;
  background-size: cover;
}

.couple{
  @extend .box;
  background-image: url("../assets/pic1.png");
}

.conversation{
  @extend .box;
  background-image: url("../assets/pic3.png");
}

.learn{
  @extend .box;
  background-image: url("../assets/pic2.png");
}

.hook{
  font-weight: 900;
  font-size: 25px;
  background:rgba(0,0,0,0.2);
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
}


@media (max-width: 900px) {
  .box{
    display:block;
    width: 70%;
    margin: 15px auto;
  }
}

@media (min-width: 901px) {
  .box{
    float:none;
    width: 25%;
    display:inline-block;
    margin: 10px 1.5%;
    height: 350px;
  }
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 30%; /* Default */
  min-width: 300px;

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  border-radius: 2%;
  border:2px solid gray;

}

.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}


input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: $primary-button-color;
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
}

input[type=submit]:hover {
    background-color: $primary-button-hover-color;
}

input[type="submit"]:disabled {
    background: #dddddd;
}

label{
  font-size: 17px;
  font-weight:600;
}